<router-outlet></router-outlet>
<!--<div class="jumbotron">-->
<app-navbar></app-navbar>
<div>
  <div class="row" style="padding-top: 60px">
    <div class="col-md-7">
      <app-home></app-home>
    </div>
    <div class="col-md-5" style="position: fixed;right: 0px">
      <!-- <app-map></app-map> -->
      <div>
        <div>
          <app-events></app-events>
        </div>
      </div>
      <hr>
      <app-all-events-modal></app-all-events-modal>
      <hr>
      <app-ads></app-ads>
    </div>
  </div>
</div>
<!--</div>-->
